<h1>New Message</h1>
<form method="POST" action="/new">
  <label for="messageUser">Author:</label>
  <input type="text" id="messageUser" name="messageUser" required><br>

  <label for="messageText">Message:</label>
  <input type="text" id="messageText" name="messageText" required><br>

  <input type="submit" value="Submit">
</form>
